
/.idea/vcs.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/php.xml
/.idea/instagram.iml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2021-02-16__10_59__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2021-02-16__10_57__Default_Changelist_.xml
/.idea/workspace.xml
